<template>
  <v-app id="app">
    <router-view></router-view>
  </v-app>
</template>

<script>
import Vue from 'vue'
import 'material-design-icons-iconfont/dist/material-design-icons.css'
import Vuetify from 'vuetify'
Vue.use(Vuetify)
import 'vuetify/dist/vuetify.css' // Ensure you are using css-loader

export default {
  components: {},
  data: () => ({}),
  computed: {},
  beforeCreate() {},
  destroyed() {},
  mounted() {},
  methods: {}
}
</script>

<style lang="scss">

</style>

