<template>
    <v-layout>
        <v-flex>
            <v-navigation-drawer fixed clipped class="grey lighten-4" app v-model="drawer" right>
                <v-list dense class="grey lighten-4">
                        
                                <v-list-tile>
                            <v-list-tile-action>
                                <v-switch
      :label="autoUpdate ? 'Выключить автообновление' : 'Включить автообновление'"
      v-model="autoUpdate"
      @change="switchAutoUpdate"
    />
                            </v-list-tile-action>
                        </v-list-tile>
                                <v-list-tile>
                            <v-list-tile-action>
                                <v-btn flat color="primary"
      @click="updateStocks"
    ><v-icon>sync</v-icon>Обновить</v-btn>
                            </v-list-tile-action>
                            <!-- <v-list-tile-content>
                                <v-list-tile-title>
                                    
                                </v-list-tile-title>
                            </v-list-tile-content> -->
                        </v-list-tile>
                </v-list>
            </v-navigation-drawer>

            <v-toolbar :clipped-left="$vuetify.breakpoint.mdAndUp" color="primary" dark app fixed>
                <v-toolbar-title>Валюты</v-toolbar-title>
                <v-spacer/>
                <v-toolbar-side-icon @click.stop="drawer = !drawer"/>
            </v-toolbar>
            <v-content>
                <v-container>
                <v-layout>
                    <v-flex>
                        <v-data-table
    :headers="headers"
    :items="stocks"
    :rows-per-page-items="[ 10, 25, 50, { text: '$vuetify.dataIterator.rowsPerPageAll', value: -1 } ]"
  >
    <template slot="items" slot-scope="props">
      <td class="h50 text-xs-left">{{ props.item.name }}</td>
      <td class="h50 text-xs-left">{{ props.item.volume }}</td>
      <td class="h50 text-xs-left">{{ props.item.amount }}</td>
    </template>
  </v-data-table>
                    </v-flex>
                </v-layout>
                </v-container>
            </v-content>

        </v-flex>
    </v-layout>
</template>

<script>
import axios from "axios";
export default {
  //components: {},
  data: () => ({
    drawer: null,
    autoUpdate: true,
    intervalId: null,
    headers: [
      {
        text: "Название",
        align: "left",
        value: "name"
      },
      { text: "Цена", value: "volume" },
      { text: "Количество", value: "amount" }
    ],
    stocks: [
      //   {
      //     name: 'Frozen Yogurt',
      //     volume: 159,
      //     amount: 6.0,
      //   },
      //   {
      //     name: 'Ice cream sandwich',
      //     volume: 237,
      //     amount: 9.0,
      //   },
    ]
  }),
  //computed: {},
  created() {
    this.updateStocks().then(() => this.runAutoUpdate());
  },
  methods: {
    runAutoUpdate() {
      this.intervalId = setInterval(this.updateStocks, 15000);
    },
    stopAutoUpdate() {
      clearInterval(this.intervalId);
    },
    updateStocks() {
      return axios
        .get("/api/stocks")
        .then(response => (this.stocks = response.data));
    },
    switchAutoUpdate(v) {
      if (this.autoUpdate) this.runAutoUpdate();
      else this.stopAutoUpdate();
    }
  }
};
</script>

<style scoped lang="scss">
.h50{
    height: 50px;
}
</style>
